@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli Pizza</h1>
            </div>
            <div class="post-single-image-container w-75">
                <img src="@Model.Foto" alt="@Model.Nome" class="w-75" />
            </div>
            <p>
                <strong>Nome:</strong>
                @Model.Nome
            </p>
            <p>
                <strong>Descrezione:</strong>
                @Model.Descrezione
            </p>
            <p>
                <strong>Prezzo:</strong>
                @Model.Prezzo <span>€</span>
            </p>
            <p>
                <strong>Categoria:</strong>
                @Model.Categoria.Name
            </p>
            <p>
                <strong>Ingredienti:</strong>
                @foreach (Ingredienti ingredienti in Model.Ingredientis)
                {
                        <div>
                            <label>@ingredienti.Name</label>
                        </div>
                }
            </p>
        </div>
    </div>
</div>