<!--
  Esercizio di oggi: Relazione 1-n con EF e MVC
nome repo: la-mia-pizzeria-crud-mvc
Ciao ragazzi, nuova giornata di lavoro!
Oggi sviluppiamo un’importante funzionalità: aggiungiamo una categoria alle nostre pizze (”Pizze classiche”,
“Pizze bianche”, “Pizze vegetariane”, “Pizze di mare”, ...).
Dobbiamo quindi predisporre tutto il codice necessario per poter collegare una categoria a una pizza 
(in una relazione 1 a molti, cioè una pizza può avere una sola categoria, 
e una categoria può essere collegata a più pizze). Tramite migration dobbiamo creare la tabella per le categorie. 
Popoliamola a mano con i valori elencati precedentemente.
Aggiungiamo poi l’informazione della categoria nelle varie pagine :
nei dettagli di una singola pizza (nell’admin) mostrare la sua categoria
quando si crea/modifica una pizza si deve poter selezionare anche la sua categoria
-->

@{
    Layout = "MioLayout";
}

@model List<Pizza>

    @if (Model.Count > 0){


    <div class="container-xxl">

        

        <table class="table text-muted">
        <thead>
        <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrezione</th>
            <th scope="col">Prezzo</th>
            <th scope="col"></th>
      
        </tr>
        </thead>
           <tbody>

            @foreach (Pizza pizza in Model)
            {
                
            <tr>
                <td><img id="imgOnIndex" src="@pizza.Foto" alt="@pizza.Nome" /></td>
                <td>@pizza.Nome</td>
                <td>@pizza.Descrezione</td>
                <td>@pizza.Prezzo <span>€</span></td>
                <td>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="@Url.Action("Dettaglio", "Pizza", new { id = pizza.Id })">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                             
                </a>
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="@Url.Action("Update", "Pizza", new { id = pizza.Id })">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                </a>
                <form asp-controller="Pizza" asp-action="Delete" asp-route-id ="@pizza.Id" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger btn-sm mt-1 mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                    </button>
                </form>
                </td>
            </tr>
            }

        </tbody>
        </table>

    </div>

}else {
    <h1>al momento no ci sono pizze da visualizzare </h1>
}